<article id="<%= post.layout %>-<%= post.slug %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>">
    	<%= post.title %>
    </a>
  </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<%- partial('categories',{post:post}) %>
	</section>
	<% if(post.toc!==false){ %>
		<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- post.content %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
		</section>
	<% } %>
</article>
<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>

<!-- disqus -->
<div class="disqus">
    <div id="disqus_thread"></div>
</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://githexo.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-- <script id="dsq-count-scr" src="//githexo.disqus.com/count.js" async></script> -->
<!-- disqus end -->